<!--Profile view-->
<div class="container">
    <div class="row mb-1">
        <div class="col-md-12">
            <div id="drty-card-header" class="card display-flex flex-row">
                <div class="d-flex align-items-center" id="drty-card-header-textbox">
                    <div class="row ">
                        <div class="image text-center col-sm-4">
                            <img src="{{user.profile_pic}}" class="card-img my-prof img-fluid" alt="avatar"
                                 style="height: 300px; object-fit: cover;">
                        </div>
                        <div class="col-sm-8 flex-column mt-2">
                            <div class="bg-light bg-opacity-75 rounded p-2" style="flex-grow: 1;">
                                <h4 class="">{{user.first_name}} {{user.last_name}}</h4>
                                <div class="" style="flex-grow: 1;">
                                    <div>
                                        <span>From: {{user.user_home}}</span>
                                    </div>
                                    <div>
                                        <span>Age: {{user.user_age}}</span>
                                    </div>
                                    <div>
                                        <span>About me: {{user.about_me}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 display-flex flex-row justify-center">
                                <div>
                                    <img src="/images/stampShareTrip.png" alt="Share Trip" class="mt-3"
                                         id="new-stamp-btn">
                                </div>
                                <div>
                                    <img src="/images/stampAddTrip.png" alt="Add Trip" class="mt-3"
                                         id="plannedtrips-page-btn">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add the form inside a container with an ID for easy selection -->
<div class="row" id="new-stamp-form-container" style="display: none">
    <div class="col-md-12">
        <form class="form form-group required col-sm-12 col-lg-6 display-flex flex-row new-project-form bg-light bg-opacity-75 rounded pb-2">
            <img src="" hidden="hidden" id="ac-img">
            <label for="project-name" class="control-label" style="color:rgb(73, 73, 73)">Destination</label>
            <div class="form-group d-flex justify-content">
                <input class="typeahead form-control form-input bg-light col-lg-9" type="text" id="project-name"
                       name="project-name" placeholder="Where did you go?" required/>
            </div>
            <div>
                <label for="add-photo-btn" class="form-group d-flex control-label" style="color:rgb(73, 73, 73)">Add
                    photos</label>
                <button type="button" class="btn button-72 text-white mt-1 mb-1 form-group required" id="add-photo-btn">
                    Upload Photos
                </button>
            </div>

            <div class="form-group ">
                <label for="project-desc" class="control-label" style="color:rgb(73, 73, 73)">Share your
                    memories</label>
                <textarea class="form-input form-group required bg-ligh col-lg-9 col-md-10" id="project-desc"
                          name="project-desc"
                          placeholder="Tell us about your trip" required></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn button-72 text-white">Create Stamp</button>
            </div>
        </form>
    </div>
</div>

<!--Show stamps-->
<div class="row">
    {{#each stamp as |stamp|}}
        <div class="col-md-4 col-xl-3">
            <div class="card">
                <img src="{{stamp.photo_url}}" class="card-img-top" alt="User travel photo">
                <div class="card-body">
                    <h5 class="card-title text-truncate"><a href="/stamps/{{stamp.id}}"
                                                            style="color: rgb(6, 3, 22); text-decoration: none !important;"
                                                            id="user-drty-stamp-link">{{stamp.destination_name}}</a>
                    </h5>
                    <p class="card-text text-truncate">{{stamp.destination_notes}}</p>
                    <div>
                        <img class="" style="width:10%" data-id={{stamp.id}} src="/images/trash.png"
                             alt="">
                        <img type="button" class="" style="width:10%" data-bs-toggle="modal"
                             data-bs-target="#updateModal" data-stamp-id={{stamp.id}}
                             src="/images/Pencil.png">
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>

<div id="new-future-trip-form-container" style="display: none;">
    <form class="form new-future-trip-form bg-light bg-opacity-75 w-50 rounded pl-4 pb-2">
        <img src="" hidden="hidden" id="ac-img">
        <label for="future-trip-name" style="color:rgb(73, 73, 73)">Dream Destination:</label>
        <div class="form-group d-flex justify-content">
            <input class="typeahead form-control form-input w-50 bg-light" type="text" id="future-trip-name"
                   name="future-trip-name" placeholder="What's your dream trip?"/>
        </div>
        <div>
            <label for="add-future-trip-photo-btn" class="form-group d-flex" style="color:rgb(73, 73, 73)">Add
                photos to
                keep the stoke alive!</label>
            <button type="click" class="btn button-72 text-white" id="add-future-trip-photo-btn">Upload
                Photos
            </button>
        </div>

        <div class="form-group ">
            <label for="future-trip-desc" style="color:rgb(73, 73, 73)">Why do you want to go?:</label>
            <textarea class="form-input w-50 bg-light" id="future-trip-desc" name="future-trip-desc"
                      placeholder="Why this place?"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn button-72 text-white">Create Dream Stamp</button>

        </div>
    </form>

</div>

{{!-- modal --}}
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="update-form">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="notes-update" class="form-label">Update Notes</label>
                        <input type="text" class="form-control" id="notes-update" placeholder="notes">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" id="updateBtn" data-bs-target="#deleteModal">
                        Update
                    </button>
                </div>
            </form>


        </div>
    </div>
</div>

<!-- Toast -->
<div id="share-trip-toast" class="toast bg-light" role="alert" aria-live="assertive" aria-atomic="true"
     style="position: fixed; top: 10px; right: 30px;">
    <div class="toast-header">
        <strong class="me-auto">Picture</strong>
        <smal>Just now</smal>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Success! The picture has been uploaded.
    </div>
</div>

<!-- Toast -->
<div id="settings-toast" class="toast bg-light" role="alert" aria-live="assertive" aria-atomic="true"
     style="position: fixed; top: 10px; right: 30px;">
    <div class="toast-header">
        <strong class="me-auto">Settings</strong>
        <smal>Just now</smal>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Success! The settings have been updated.
    </div>
</div>

<script
        src="https://widget.cloudinary.com/v2.0/global/all.js"
        type="text/javascript">
</script>
<script src="./js/profile.js"></script>
<script src="./js/profileFutureTrip.js"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key={{ mapsApiKey }}
&libraries=places&callback=initMap">
</script>

<script src="./js/update.js"></script>